- var i

.about
  .row
    .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0
      h2= project.name
    .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0
      p.type= project.type
  .row
    .col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0
      h3 Description
      p.description= project.description
      if project.process
        h3 Thought Process
        p.process= project.process
.row
  .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0
    .services.box
      h3 Services
      ul
        each service in project.services
          li= service
  .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0
    .software.box
      h3 Software
      ul
        each software in project.software
          li= software
.row
  - i = 0
  while i < project.photos.main
    .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0
      .project-image.main(class=project.slug class="image-" + ++i)
if project.photos.process
  .row
    .col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0
      h3 Process Shots
  .row
    - i = 0
    while i < project.photos.process
      .col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0
        .project-image.process(class=project.slug class="image-" + ++i)
